.title {
  font-family: 'Kanit', sans-serif;
  font-size: 3rem;
  color: rgb(231, 231, 230);
  filter: drop-shadow(0 0 1.5px rgb(0, 0, 0));
}

.fondo{
  background-image: url(../../../assets/img/fondoVentana.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}