<nav class="navbar navbar-dark bg-secondary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="">Curso Angular</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas bg-secondary text-light offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Aplicaciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item row align-items-center">
            <a class="ms-2 nav-link col-5" routerLink="/piano">Piano App</a>
            <a href="https://github.com/areantbd/Angular_Piano" target="_blank" class="text-info col-5">Github</a>
          </li>
          <li class="nav-item row align-items-center">
            <a class="ms-2 nav-link col-5" routerLink="/dados">Dados</a>
            <a href="https://github.com/areantbd/Angular_Dados" target="_blank" class="text-info col-5">Github</a>
          </li>
          <li class="nav-item row align-items-center">
            <a class="ms-2 nav-link col-5" routerLink="/tasks">Tasks</a>
            <a href="https://github.com/areantbd/Angular_Tasks" target="_blank" class="text-info col-5">Github</a>
          </li>
          <li class="nav-item row align-items-center">
            <a class="ms-2 nav-link col-5" routerLink="/convertidor">Convertidor</a>
            <a href="https://github.com/areantbd/Angular_Convertidor" target="_blank" class="text-info col-5">Github</a>
          </li>
          <li class="nav-item row align-items-center">
            <a class="ms-2 nav-link col-5" routerLink="/bmi">BMI</a>
            <a href="https://github.com/areantbd/Angular_BMI" target="_blank" class="text-info col-5">Github</a>
          </li>
          <li class="nav-item row align-items-center">
            <a class="ms-2 nav-link col-5" routerLink="/employees">Empleados</a>
            <a href="https://github.com/areantbd/Angular_Employees_List" target="_blank" class="text-info col-5">Github</a>
          </li>
          <li class="nav-item row align-items-center">
            <a class="ms-2 nav-link col-5" routerLink="/citas">Gestor de citas</a>
            <a href="https://github.com/areantbd/Angular_Gestor_de_citas" target="_blank" class="text-info col-5">Github</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>