
<div class="row">
  <div class="col-lg-4">
    <h1 class="container mt-5 text-center text-decoration-underline">Piano App</h1>
    <div class="list-group container d-flex flex-row mt-3">
      <a (click)="aplicarSonido('Do')" class="list-group-item list-group-item-action text-center" style="background-color: red;">DO</a>
      <a (click)="aplicarSonido('Re')" class="list-group-item list-group-item-action text-center" style="background-color: orange;">RE</a>
      <a (click)="aplicarSonido('Mi')" class="list-group-item list-group-item-action text-center" style="background-color: yellow;">MI</a>
      <a (click)="aplicarSonido('Fa')" class="list-group-item list-group-item-action text-center" style="background-color: green;">FA</a>
      <a (click)="aplicarSonido('Sol')" class="list-group-item list-group-item-action text-center" style="background-color: teal;">SOL</a>
      <a (click)="aplicarSonido('La')" class="list-group-item list-group-item-action text-center" style="background-color: blue;">LA</a>
      <a (click)="aplicarSonido('Si')" class="list-group-item list-group-item-action text-center" style="background-color: purple;">SI</a>
    </div>
  </div>
</div>