<div class="container">
  <div class="d-flex justify-content-evenly flex-wrap gap-2 pt-4">
    <button class="btn btn-lg btn-secondary" *ngFor="let button of buttons" routerLink={{button.path}}>{{button.name}}</button>
  </div>
  <!-- <h1 class="animate-jump-in animate-once animate-duration-[2000ms] animate-delay-[2500ms] animate-ease-in text-light text-center mt-3 text-4xl">Curso Angular</h1> -->
  <div class="logo d-flex justify-content-center mt-4">
      <img class="logo animate-fade-up animate-once animate-duration-[2000ms] animate-ease-in" src="../../../assets/img/angular-icon-logo.png" alt="">
  </div>
</div>