<div class="row">
  <div class="col-8 offset-2 col-lg-4 offset-lg-4">
    <h2 class="title text-3xl">BMI CALCULATOR</h2>
    <div class="row">
      <div class="col-6">
        <div class="item-bg" [ngClass]="{ 'innactive-sex': sex === 'fem'}">
          <div class="content" style="cursor: pointer;" (click)="masc()">
            <i class="fa fa-mars sexo" aria-hidden="true"></i>
            <p>MASC</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="item-bg" [ngClass]="{ 'innactive-sex': sex === 'masc'}">
          <div class="content" style="cursor: pointer;" (click)="fem()">
            <i class="fa fa-venus sexo" aria-hidden="true"></i>
            <p>FEM</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="item-bg">
          <div class="content">
            <h5>Height</h5>
            <div class="num-style mt-1">
              {{ height }}
              <span class="cm">cms</span>
            </div>
            <input type="range" (input)="changeHeight($event)" [value]="height" min="120" max="220" class="form-range">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="item-bg">
          <div class="content">
            <h5>Weight</h5>
            <div class="num-style mt-1">{{ weight }}</div>
            <div class="buttons">
              <i class="fa fa-minus suma-resta" aria-hidden="true" (click)="weight = weight - 1"></i>
              <i class="fa fa-plus suma-resta" aria-hidden="true" (click)="weight = weight + 1"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="item-bg">
          <div class="content">
            <h5>Age</h5>
            <div class="num-style mt-1">{{ age }}</div>
            <div class="buttons">
              <i class="fa fa-minus suma-resta" aria-hidden="true" (click)="age = age - 1"></i>
              <i class="fa fa-plus suma-resta" aria-hidden="true" (click)="age = age + 1"></i>
            </div>
          </div>          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button (click)="bmiCalc()" class="btn btn-primary btn-lg btn-block btn-color">Calculate</button>
      </div>
    </div>
  </div>
</div>
